---
title: About
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<!-- HEADER -->
	{{header.block()}}
	<!-- HEADER -->
	
	<!-- ABOUT TOP -->
	{{headline.headline({headline: 'О компании'})}}
	<!-- ABOUT TOP -->

	<!-- ABOUT MAIN -->
	{% include "partials/_about.html" %}
	<!-- ABOUT MAIN -->

	<!-- COUNTER -->
	{% include "partials/_counter.html" %}
	<!-- COUNTER -->

	<!-- VIDEO -->
	{% include "partials/_video.html" %}
	<!-- VIDEO -->
	
	<!-- FOOTER -->
	{{footer.footer()}}
	<!-- FOOTER -->
	
	<!-- LOGIN FORM -->
	{% include "partials/_login.html" %}
	<!-- LOGIN FORM -->

{% endblock %}
