---
title: About
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<!-- HEADER -->
	{{header.block()}}
	<!-- HEADER -->
	
	<!-- ABOUT TOP -->
	{{headline.headline(
		{
			headline: 'Продукты',
			list: ['Главная', 'Продукты']
		}
		)}}
	<!-- ABOUT TOP -->
	
	<!-- PRODUCTS -->
	{% include "partials/_products.html" %}
	<!-- PRODUCTS -->

	<!-- FOOTER -->
	{{footer.footer()}}
	<!-- FOOTER -->
	
	<!-- LOGIN FORM -->
	{% include "partials/_login.html" %}
	<!-- LOGIN FORM -->

{% endblock %}
