<section class="article">
	<div class="article__container container">
		<div class="article__drop drop">
			<h2 class="drop__title title-l">Что это такое?</h2>
			<div class="drop__text">
				<p>Закрыв глаза, чтобы не видеть своих барахтающихся ног, он проделал это добрую сотню раз и отказался от этих попыток только тогда, когда почувствовал какую-то неведомую дотоле, тупую и слабую боль в боку. Изо дня в день в разъездах. Деловых волнений куда больше, чем на месте, в торговом доме, а кроме того, изволь терпеть тяготы дороги, думай о расписании поездов, мирись с плохим, нерегулярным питанием, завязывай.</p>
			</div>
			<div class="drop__text drop__text_hidden js-drop-text">
				<p>Черт бы побрал все это! » Он почувствовал вверху живота легкий зуд; медленно подвинулся на спине к прутьям кровати, чтобы удобнее было поднять голову; нашел зудевшее место, сплошь покрытое, как оказалось, белыми непонятными точечками; хотел было ощупать это место одной из ножек, но сразу отдернул ее, ибо даже простое прикосновение вызвало у него, Грегора, озноб. Он соскользнул в прежнее свое положение.</p>
			</div>
		</div>
		<div class="article__button button button_arrow js-button-arrow"></div>
	</div>
</section>