<section class="counter-wrap">
    <div class="counter-wrap__container container">
        <h2 class="counter-wrap__title title-l">В цифрах</h2>
        <div class="counter">
            <div class="counter__item">
                <div class="counter__number js-counter" data-count="10">0</div>
                <div class="counter__text">лет верной и качественной работы для удовлетворения всез ваших </div>
            </div>
            <div class="counter__item">
                <div class="counter__number js-counter" data-count="50">0</div>
                <div class="counter__text">дипломированных специалистов, лучших в своем деле</div>
            </div>
            <div class="counter__item">
                <div class="counter__number js-counter" data-count="30">0</div>
                <div class="counter__text">партнеров по всему миру и в России</div>
            </div>
        </div>
    </div>
</section>