<footer class="footer">
	<div class="footer__container container">
		<div class="footer__copy">ООО “Глосав”. Все права защищены</div>
		<ul class="footer__contacts contacts">
			<li class="contacts__item">
				<a href="#" class="contacts__link">
					{{mixins.icon('map')}}
					<span class="contacts__text">Москва, Кожевнический проезд., д. 1</span>
				</a>
			</li>
			<li class="contacts__item">
				<a href="mailto:commerce@glosav.ru" class="contacts__link">
					{{mixins.icon('mail')}}
					<span class="contacts__text">commerce@glosav.ru</span>
				</a>
			</li>
			<li class="contacts__item">
				<a href="tel:+7 (495) 644 33 59" class="contacts__link">
					{{mixins.icon('phone')}}
					<span class="contacts__text">+7 (495) 644 33 59</span>
				</a>
			</li>
		</ul>
	</div>
</footer>