{% import "partials/_mixins.html" as mixins %}
{% import "data/nav.html" as data %}
{% macro block(prop) %}
<header class="header {% if prop.class %}{{prop.class}}{% endif %} js-header">
		<div class="header__container container">
		<a href="http://localhost:8080/page.html" class="header__logo">
			<img src="./img/logo.png" alt="Glosav" class="header__logo-img js-logo">
			<img src="./img/logo-white.png" alt="Glosav" class="header__logo-img_sm js-logo">
		</a>
		<div class="header__toggle js-toggle">
			<div class="header__toggle-icon js-toggle-icon"></div>
		</div>
		<div class="header__menu menu js-menu">
			<div class="menu__search search_sm">
				<form action="" autocomplete="on" class="search_sm__form js-search-form">
					<div class="search_sm__input-wrap">
						<input type="text" class="search_sm__input">
					</div>
					<button type="submit" class="search_sm__icon button">{{mixins.icon('search')}}</button>
				</form>
			</div>
			<div class="menu__top">
				<div class="menu__search search">
					<form action="" autocomplete="on" class="search__form js-search-form">
						<div class="search__input-wrap">
							<input type="text" placeholder="Система слежения" class="search__input js-search-input">
						</div>
						<button type="submit" class="search__icon js-search-icon button">{{mixins.icon('search')}}</button>
					</form>
				</div>
				<div class="menu__modal modal">
					<button type="button" class="modal__btn button js-modal-btn ">Войти</button>
					<div class="modal__content"></div>
				</div>
				<div class="menu__lang lang js-lang">
					<a href="#" class="lang__current lang__link">
						Ru
						<div class="lang__arrow"></div>
					</a>
					<ul class="lang__list js-lang__list">
						<li class="lang__item"><a href="#" class="lang__extra lang__link">Ua</a></li>
						<li class="lang__item"><a href="#" class="lang__extra lang__link">En</a></li>
					</ul>
				</div>
			</div>
			<div class="menu__bot">
				<nav class="menu__nav nav">
					<ul class="nav__list">
						{% for item in data.nav %}
						    <li class="nav__item">
						    	<a href="{{item.link}}" class="nav__link {% if loop.index == prop.index %}nav__link_current{% endif %}">{{item.name}}</a>
						    </li>
						{% endfor %}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
{% endmacro %}
