{% import "data/introduction.html" as data %}
<section class="introduction">
    <div class="introduction__container container container_sm">
        <div class="introduction__inner">
            <div class="introduction__left">
                <div class="task">
                    {% for task in data.intro %}
                        <div class="task__item">
                            <h2 class="task__title title-l">{{task.title}}</h2>
                            {% if task.text %}
                                <p>{{task.text}}</p>
                            {% else %}
                                <ul class="task__list list">
                                    {% for item in task.list %}
                                    <li class="list__item"><span>{{item}}</span></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="introduction__right">
                <div class="partner">
                        <div class="partner__logo-wrap">
                            <img src="./img/sber-logo.png" alt="logo" class="partner__logo">
                        </div>
                    <h2 class="partner__title title-l">Описание внедрения</h2>
                    <p>На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука. Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подоконника стучат капли дождя – привела его и вовсе в грустное настроение. «Хорошо бы еще немного поспать и забыть всю эту чепуху», – подумал он, но это было совершенно неосуществимо, он привык спать на правом боку, а в теперешнем своем состоянии он никак не мог принять этого положения. </p>
                    <p>Закрыв глаза, чтобы не видеть своих барахтающихся ног, он проделал это добрую сотню раз и отказался от этих попыток только тогда, когда почувствовал какую-то неведомую дотоле, тупую и слабую боль в боку.</p>
                    <p>Изо дня в день в разъездах. Деловых волнений куда больше, чем на месте, в торговом доме, а кроме того, изволь терпеть тяготы дороги, думай о расписании поездов, мирись с плохим, нерегулярным питанием, завязывай со все новыми и новыми людьми недолгие, никогда не бывающие сердечными отношения. Черт бы побрал все это! » Он почувствовал вверху живота легкий зуд; медленно подвинулся на спине к прутьям кровати, чтобы удобнее было поднять голову; нашел зудевшее место, сплошь </p>
                    <button class="partner__button button button_orange">{{mixins.icon('arr-left_sm')}}Вернуться назад</button>
                </div>
            </div>
        </div>
    </div>
</section>