<div class="login_popup popup js-login-popup">
	<div class="login_popup__container container">
		<form action="" class="login_popup__login-form login-form js-login-form">
			<h3 class="login-form__title title-mid">Вход в web-систему</h3>
			<div class="login-form__input-wrap">
				<input type="text" class="login-form__input" placeholder="Компания">
			<!-- <span class="login-form__message">*Не верно введены данные в этом поле. Пожалуста  проверте написание</span> -->
			</div>
			<div class="login-form__input-wrap">
				<input type="text" class="login-form__input" placeholder="Логин">
			<!-- <span class="login-form__message">*Не верно введены данные</span> -->
			</div>
			<div class="login-form__input-wrap">
				<input type="text" class="login-form__input" placeholder="Пароль">
			</div>
			<button type="submit" class="button login-form__button button_sm">Войти</button>
		</form>
			<button type="button" class="login-form__close button button_close button_close_small js-button-close"></button>
	</div>
</div>
