<main class="main">
	<div class="main__popup"></div>
	<ul class="main__slider slider js-slider">
		<li class="slider__item">
			<div class="slider__img-border">
				<div class="slider__img-wrap">
					<div class="slider__img slider__img-3"></div>
				</div>
				</div>
			<h2 class="slider__title title">Разработка ПО</h2>
		</li>

		<li class="slider__item">
			<div class="slider__img-border">
				<div class="slider__img-wrap">
					<div class="slider__img slider__img-4"></div>
				</div>
				</div>
			<h2 class="slider__title title">Разработка ПО</h2>
		</li>

		<li class="slider__item">
			<div class="slider__img-border">
				<div class="slider__img-wrap">
					<div class="slider__img slider__img-1"></div>
				</div>
				</div>
			<h2 class="slider__title title">Разработка ПО</h2>
		</li>

		<li class="slider__item">
			<div class="slider__img-border">
				<div class="slider__img-wrap">
					<div class="slider__img slider__img-2"></div>
				</div>
				</div>
			<h2 class="slider__title title">Разработка ПО</h2>
		</li>
	</ul>
</main>