{% import 'data/specialization.html' as data %}
<main class="main">
	<div class="main__popup"></div>
	<ul class="main__slider slider js-slider">
		{% for item in data.specialization_item %}
			<li class="slider__item specialization specialization_slide">
				<a href="#" class="specialization__link" data-modal-trigger="{{item.modal_name}}">
					<div class="specialization__img-border">
						<div class="specialization__img-wrap">
							<div class="specialization__img specialization__{{item.img}}"></div>
						</div>
						</div>
					<h2 class="specialization__title title">{{item.title}}</h2>
				</a>
			</li>
		{% endfor %}
	</ul>
</main>