{% import 'data/specialization.html' as data %}
{% for item in data.specialization_item %}
    <div class="popup" data-modal="{{item.modal_name}}" data-length-features="">
    	<div class="popup__container container">
    		<div class="popup__wrap js-popup-wrap">
					<div class="popup__main specialization specialization_popup">
						<a href="#" class="specialization__link">
							<div class="specialization__img-border">
								<div class="specialization__img-wrap">
									<div class="specialization_popup__overlay">
										<div class="specialization_popup__overlay-inner">
											<p>{{item.text}}</p>
											<button class="specialization_popup__overlay-button button button_border" type="button">Подробнее</button>
										</div>
									</div>
									<div class="specialization__img" style="background-image: url('./img/{{item.img}}.png')"></div>
								</div>
								</div>
							<h2 class="specialization__title title">{{item.title}}</h2>
							<button type="button" class="specialization_popup__button button button_close"></button>
						</a>
					</div>
					<div class="popup__description">
						<p>{{item.text}}</p>
						<button class="specialization_popup__overlay-button button button_border" type="button">Подробнее</button>
					</div>
					<div class="popup__features">
					{% for feature in item.features %}
						<div class="features">
							<a href="#" class="features__link">
								<div class="features__border">
									<div class="features__wrap">
										<div class="features__img" style="background-image: url('./img/{{feature.features_img}}.png')"></div>
									</div>
								</div>
								<h3 class="features__title title_sm">{{feature.features_title | safe}}</h3>
							</a>
						</div>
					{% endfor %}
					</div>
				</div>
    	</div>
    </div>
{% endfor %}