<section class="popup" data-modal="integration">
	<div class="popup__overlay">
		<div class="popup__container container">
			<div class="popup__item slide slide_popup">
				<a href="#" class="slide__link">
					<div class="slide__img-border">
						<div class="slide__img-wrap">
							<div class="slide-popup__overlay">
								<p class="slide-popup__description">Система для компаний, занимающихся дистрибуцией. Может быть использована как дляоснащения транспортных средств, так и для оснащения персонала. В зависимости от специфики компании выбирается наиболее рациональный комплект оборудования, который может включать: бортовой блок, смартфон, персональный трекер.</p>
							</div>
							<div class="slide__img slide__img-3"></div>
						</div>
					</div>
					<h2 class="slide__title title"><span class="block">Системная</span> Интеграция</h2>
				</a>
			</div>
		</div>
	</div>
</section>