<div class="paragraph">
    <div class="paragraph__container container container_sm">
        <h2 class="paragraph__title title-l">Система ГЛОНАСС может помочь</h2>
        <p>ОАО «Федеральная сетевая компания»(ФСК ЕЭС) входит в перечень системообразующих организаций РФ. ФСК ЕЭС занимает первое место в мире по протяженности линий электропередачи (132,3 тыс. км) и трансформаторной мощности (332,5 тыс. МВА) среди публичных электросетевых компаний. В компании работают более 23 тысяч человек. </p>
    </div>
</div>