{% import 'data/prod-slider.html' as data %}
<section class="product-slider">
	<div class="product-slider__container container container_sm">
		<h2 class="product-slider__title title-l">Продукты</h2>
		<div class="product-slider__slider slider-small">
			<ul class="slider-small__list js-slider-prod">
				{% for item in data.prod_item %}
				    <li class="slider-small__item">
				    	<a href="#" class="slider-small__link">
				    		<div class="slider-small__img-wrap">
				    			<div class="slider-small__img" style="background-image: url('./img/{{item.img}}.png')"></div>
				    		</div>
				    		<h4 class="slider-small__title title-s">{{item.title}}</h4>
				    	</a>
				    </li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>