<section class="request">
	<div class="request__container container">
		<div class="request__form">
			<form action="" class="request-form">
				<div class="input-wrap">
					<input type="text" class="request-form__input input" placeholder="ФИО">
				</div>
				<div class="input-wrap">
					<input type="text" class="request-form__input input" placeholder="E-mail">
				</div>
				<div class="input-wrap">
					<select name="department" id="" class="request-form__select js-select" style="width: 100%">
						<option value="Выберите департамент для обращения copy">Выберите департамент для обращения</option>
						<option value="Короткая тема номер 1">Короткая тема номер 1</option>
						<option value="Средняя тема номер  2">Средняя тема номер  2</option>
						<option value="Очень длинная тема номер 3">Очень длинная тема номер 3</option>
					</select>
				</div>
				<div class="input-wrap">
					<select name="topic" id="" class="request-form__select js-select" style="width: 100%">
						<option value="1">Выберите тему обращения</option>
						<option value="2">Тема 1</option>
						<option value="3">Тема 2</option>
					</select>
				</div>
				<div class="input-wrap">
					<textarea class="request-form__textarea input" name="message" id="" cols="50" rows="3" placeholder="Ваше сообщение"></textarea>
				</div>
				<img src="./img/captcha.png" alt="captcha" class="request-form__img captcha">
				<button type="submit" class="request-form__button button button_sm">Отправить</button>
			</form>
		</div>
		<div class="request__text">
			<h2 class="request__title title-l">Оставьте заявку</h2>
			<p>Компания ГЛОСАВ признана победителем тендера на поставку и установку систем мониторинга транспорта с использованием оборудования ГЛОНАСС/GPS для филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС) «Магистральные электрические сети Центра»(МЭС Центра). Мониторинговое оборудование будет установлено на 890 транспортных средств в филиалах(ПМЭС) входящих В зону ответственности МЭС Центра: Валдайское, Верхне-Донское, Волго-Донское, Волго-Окское, Вологодское, Московское, Приокское и Черноземное. ОАО «Федеральная сетевая компания»(ФСК ЕЭС) входит в перечень </p>
		</div>
	</div>
</section>