{% set contacts = [
    {
        title: 'Отдел маркетинга и PR',
        option: [
            {
                name: 'Телефоны:',
                tel: '+7 (495) 644 33 58'
            },
            {
                name: 'E-mail:',
                mail: 'commerce@glosav.ru'
            },
            {
                name: 'График работы:',
                text: 'Пн.-Пт.: с 10:00 до 19:00'
            }]
    },
    {
        title: 'Отдел кадров',
        option: [
            {
                name: 'Телефоны:',
                tel: '+7 (495) 644 33 58'
            },
            {
                name: 'E-mail:',
                mail: 'commerce@glosav.ru'
            },
            {
                name: 'График работы:',
                text: 'Пн.-Пт.: с 10:00 до 19:00'
            }]
    },
    {
        title: 'Отдел продаж',
        option: [
            {
                name: 'Телефоны:',
                tel: '+7 (495) 644 33 58'
            },
            {
                name: 'E-mail:',
                mail: 'commerce@glosav.ru'
            },
            {
                name: 'График работы:',
                text: 'Пн.-Пт.: с 10:00 до 19:00'
            }]
    },
    {
        title: 'Техническая поддержка',
        option: [
            {
                name: 'Телефоны:',
                tel: '+7 (495) 644 33 58'
            },
            {
                name: 'E-mail:',
                mail: 'commerce@glosav.ru'
            },
            {
                name: 'График работы:',
                text: 'Пн.-Пт.: с 10:00 до 19:00'
            }]
    }
] %}