{% set dir = [
    {
        img: 'direction',
        title: 'Мониторинг и тахография',
        text: 'Специализированная система, в состав которой входит расширенный набор бортового оборудования, обеспечивающий возможность контроля исполнительных механизмов специализированной техники. Расширенный функционал программного обеспечения позволяет обеспечивать.',
        list: ['Строительство', 'Топливозаправщик', 'Перевозки', 'Дистрибуция']
    },
    {
        img: 'direction',
        title: 'Системная интеграция ',
        text: 'Специализированная система, в состав которой входит расширенный набор бортового оборудования, обеспечивающий возможность контроля исполнительных механизмов специализированной техники. Расширенный функционал программного обеспечения позволяет обеспечивать.',
        list: ['Строительство', 'Топливозаправщик', 'Перевозки', 'Дистрибуция']
    },
    {
        img: 'direction',
        title: 'ИТС',
        text: 'Специализированная система, в состав которой входит расширенный набор бортового оборудования, обеспечивающий возможность контроля исполнительных механизмов специализированной техники. Расширенный функционал программного обеспечения позволяет обеспечивать.',
        list: ['Строительство', 'Топливозаправщик', 'Перевозки', 'Дистрибуция']
    },
    {
        img: 'direction',
        title: 'Разработка ПО',
        text: 'Специализированная система, в состав которой входит расширенный набор бортового оборудования, обеспечивающий возможность контроля исполнительных механизмов специализированной техники. Расширенный функционал программного обеспечения позволяет обеспечивать.',
        list: ['Строительство', 'Топливозаправщик', 'Перевозки', 'Дистрибуция']
    }
    ] %}