{% set intro = [
    {
        title: 'Какие задачи стояли ',
        list: [
        'Минимизация рисков банка',
        'Повышение безопасности перевозок инкассаторов',
        'Оптимизация работы транспортного парка',
        'Информирование о тревожных событиях',
        'Контроль местоположения предмета собственности'
        ]
    },
    {
        title: 'Какие работы были выполнены',
        list: [
        'Минимизация рисков банка',
        'Повышение безопасности перевозок инкассаторов',
        'Оптимизация работы транспортного парка',
        'Информирование о тревожных событиях',
        'Контроль местоположения предмета собственности'
        ]
    },
    {
        title: 'Какой результат был получен ',
        text: 'Мы помогли нашему Клиенту разобраться в технических вопросах и выработали решения, благодаря которым более 40 производственных задач компании-заказчика были решены или поставлены на автоматизированный оперативный контроль.'
    }
    ] %}