{% set news = [
    {
        img: 'news-img',
        size: '25',
        text: 'Компания «ГЛОСАВ» стала единственным агентом по подключению к ГАИС «ЭРА-ГЛОНАСС» перевозчиков'
    },
    {
        class: 'news-item_full',
        img: 'news-wide',
        size: '50',
        text: '«ГЛОСАВ» осуществил поставку и монтаж оборудования Huawei для ООО «ОССП»'
    },
    {
        img: 'news-img',
        size: '25',
        text: '"ГЛОСАВ" осуществил поставку оборудования Huawei для нужд ООО «Стройгазмонтаж»'
    },
    {
        img: 'news-img',
        size: '25',
        text: 'Компания «ГЛОСАВ» стала единственным агентом по подключению к ГАИС «ЭРА-ГЛОНАСС» перевозчиков ...'
    },
    {
        img: 'news-img',
        size: '25',
        text: 'Компания «ГЛОСАВ» стала единственным агентом по подключению к ГАИС «ЭРА-ГЛОНАСС» перевозчиков ...'
    },
    {
        class: 'news-item_full',
        img: 'news-full',
        size: '25',
        text: '«ГЛОСАВ» осуществил поставку тахографов для ОАО «РЖД»'
    },
    {
        img: 'news-img',
        size: '25',
        text: '«ГЛОСАВ» осуществил поставку тахографов для ОАО «РЖД»'
    },
    {
        class: 'news-item_full',
        img: 'news-wide',
        size: '50 ',
        text: '«ГЛОСАВ» осуществил поставку тахографов для ОАО «РЖД»'
    },
    {
        img: 'news-img',
        size: '25',
        text: '«ГЛОСАВ» осуществил поставку тахографов для ОАО «РЖД»'
    },
    {
        img: 'news-img',
        size: '25',
        text: '«ГЛОСАВ» осуществил поставку тахографов для ОАО «РЖД»'
    },
    {
        img: 'news-img',
        size: '25',
        text: '«ГЛОСАВ» осуществил поставку тахографов для ОАО «РЖД»'
    },
    {
        img: 'news-img',
        size: '25',
        text: 'Компания «ГЛОСАВ» стала единственным агентом по подключению к ГАИС «ЭРА-ГЛОНАСС» перевозчиков ...'
    },
    {
        class: 'news-item_full',
        img: 'news-wide',
        size: '50',
        text: '«ГЛОСАВ» осуществил поставку тахографов для ОАО «РЖД»'
    },
    {
        img: 'news-img',
        size: '25',
        text: 'Компания «ГЛОСАВ» стала единственным агентом по подключению к ГАИС «ЭРА-ГЛОНАСС» перевозчиков ...'
    }
    ] %}