{% set prod_item = [
    {
        img: 'prod-slide',
        title: 'Бесконтактный считыватель'
    },
    {
        img: 'prod-slide',
        title: 'Тревожная кнопка'
    },
    {
        img: 'prod-slide',
        title: 'Тревожная кнопка'
    },
    {
        img: 'prod-slide',
        title: 'Видеорегистратор'
    },
    {
        img: 'prod-slide',
        title: 'Устройство «ГЛОСАВ-МАРКЕР»'
    },
    {
        img: 'prod-slide',
        title: 'Бесконтактный считыватель'
    },
    {
        img: 'prod-slide',
        title: 'Устройство «ГЛОСАВ-МАРКЕР»'
    },
    {
        img: 'prod-slide',
        title: 'Бесконтактный считыватель'
    },
    {
        img: 'prod-slide',
        title: 'Бесконтактный считыватель'
    },
    {
        img: 'prod-slide',
        title: 'Бесконтактный считыватель'
    },
    {
        img: 'prod-slide',
        title: 'Бесконтактный считыватель'
    },
    {
        img: 'prod-slide',
        title: 'Бесконтактный считыватель'
    },
    {
        img: 'prod-slide',
        title: 'Бесконтактный считыватель'
    },
    {
        img: 'prod-slide',
        title: 'Бесконтактный считыватель'
    },
    {
        img: 'prod-slide',
        title: 'Бесконтактный считыватель'
    },
    {
        img: 'prod-slide',
        title: 'Бесконтактный считыватель'
    }
    ] %}