{% set prod_list = [
    {
        img: 'reg',
        title: 'Видеорегистратор',
        text: 'Основные функциональные узлы контроллера (GSM-терминал, GPS- приемник и т. п.) выполнены в виде отдельных модулей, которые устанавливаются на основной плате и легко заменяются. Такая компоновка дает ряд преимуществ при производстве и обслуживании контроллеров.'
    },
    {
        img: 'reg',
        title: 'Видеорегистратор',
        text: 'Основные функциональные узлы контроллера (GSM-терминал, GPS- приемник и т. п.) выполнены в виде отдельных модулей, которые устанавливаются на основной плате и легко заменяются. Такая компоновка дает ряд преимуществ при производстве и обслуживании контроллеров.'
    },
    {
        img: 'reg',
        title: 'Видеорегистратор',
        text: 'Основные функциональные узлы контроллера (GSM-терминал, GPS- приемник и т. п.) выполнены в виде отдельных модулей, которые устанавливаются на основной плате и легко заменяются. Такая компоновка дает ряд преимуществ при производстве и обслуживании контроллеров.'
    },
    {
        img: 'reg',
        title: 'Видеорегистратор',
        text: 'Основные функциональные узлы контроллера (GSM-терминал, GPS- приемник и т. п.) выполнены в виде отдельных модулей, которые устанавливаются на основной плате и легко заменяются. Такая компоновка дает ряд преимуществ при производстве и обслуживании контроллеров.'
    },
    {
        img: 'reg',
        title: 'Видеорегистратор',
        text: 'Основные функциональные узлы контроллера (GSM-терминал, GPS- приемник и т. п.) выполнены в виде отдельных модулей, которые устанавливаются на основной плате и легко заменяются. Такая компоновка дает ряд преимуществ при производстве и обслуживании контроллеров.'
    },
    {
        img: 'reg',
        title: 'Видеорегистратор',
        text: 'Основные функциональные узлы контроллера (GSM-терминал, GPS- приемник и т. п.) выполнены в виде отдельных модулей, которые устанавливаются на основной плате и легко заменяются. Такая компоновка дает ряд преимуществ при производстве и обслуживании контроллеров.'
    },
    {
        img: 'reg',
        title: 'Видеорегистратор',
        text: 'Основные функциональные узлы контроллера (GSM-терминал, GPS- приемник и т. п.) выполнены в виде отдельных модулей, которые устанавливаются на основной плате и легко заменяются. Такая компоновка дает ряд преимуществ при производстве и обслуживании контроллеров.'
    },
    {
        img: 'reg',
        title: 'Видеорегистратор',
        text: 'Основные функциональные узлы контроллера (GSM-терминал, GPS- приемник и т. п.) выполнены в виде отдельных модулей, которые устанавливаются на основной плате и легко заменяются. Такая компоновка дает ряд преимуществ при производстве и обслуживании контроллеров.'
    },
    {
        img: 'reg',
        title: 'Видеорегистратор',
        text: 'Основные функциональные узлы контроллера (GSM-терминал, GPS- приемник и т. п.) выполнены в виде отдельных модулей, которые устанавливаются на основной плате и легко заменяются. Такая компоновка дает ряд преимуществ при производстве и обслуживании контроллеров.'
    },
    {
        img: 'reg',
        title: 'Видеорегистратор',
        text: 'Основные функциональные узлы контроллера (GSM-терминал, GPS- приемник и т. п.) выполнены в виде отдельных модулей, которые устанавливаются на основной плате и легко заменяются. Такая компоновка дает ряд преимуществ при производстве и обслуживании контроллеров.'
    }
] %}