{% set promo = [
    {
      title: 'ГЛОСАВ осуществляет поставку мониторингового оборудования для филиала ОАО «Федеральная сетевая компания» МЭС Центра.',
      img: 'service-img',
      img_mod: 'service__img_order',
      text: 'Компания ГЛОСАВ признана победителем тендера на поставку и установку систем мониторинга транспорта с использованием оборудования ГЛОНАСС/GPS для филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС) «Магистральные электрические сети Центра»(МЭС Центра). Мониторинговое оборудование будет установлено на 890 транспортных средств в филиалах(ПМЭС) входящих В зону ответственности МЭС Центра: Валдайское, Верхне-Донское, Волго-Донское, Волго-Окское, Вологодское, Московское, Приокское и Черноземное. '  
    },
    {
      title: 'ГЛОСАВ осуществляет поставку мониторингового оборудования для филиала ОАО «Федеральная сетевая компания» МЭС Центра.',
      img: 'promo-square',
      img_mod: 'service__img_square',
      text: 'Компания ГЛОСАВ признана победителем тендера на поставку и установку систем мониторинга транспорта с использованием оборудования ГЛОНАСС/GPS для филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС) «Магистральные электрические сети Центра»(МЭС Центра). Мониторинговое оборудование будет установлено на 890 транспортных средств в филиалах(ПМЭС) входящих В зону ответственности МЭС Центра: Валдайское, Верхне-Донское, Волго-Донское, Волго-Окское, Вологодское, Московское, Приокское и Черноземное. '  
    },
    {
      title: 'ГЛОСАВ осуществляет поставку мониторингового оборудования для филиала ОАО «Федеральная сетевая компания» МЭС Центра.',
      img: 'promo-car',
      img_mod: 'service__img_order service__img_square service__img_contain',
      text: 'Компания ГЛОСАВ признана победителем тендера на поставку и установку систем мониторинга транспорта с использованием оборудования ГЛОНАСС/GPS для филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС) «Магистральные электрические сети Центра»(МЭС Центра). Мониторинговое оборудование будет установлено на 890 транспортных средств в филиалах(ПМЭС) входящих В зону ответственности МЭС Центра: Валдайское, Верхне-Донское, Волго-Донское, Волго-Окское, Вологодское, Московское, Приокское и Черноземное. '  
    },
    {
      video:'promo__video'
    },
    {
      title: 'ГЛОСАВ осуществляет поставку мониторингового оборудования для филиала ОАО «Федеральная сетевая компания» МЭС Центра.',
      img: 'service-img',
      img_mod: 'service__img_order',
      text: 'Компания ГЛОСАВ признана победителем тендера на поставку и установку систем мониторинга транспорта с использованием оборудования ГЛОНАСС/GPS для филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС) «Магистральные электрические сети Центра»(МЭС Центра). Мониторинговое оборудование будет установлено на 890 транспортных средств в филиалах(ПМЭС) входящих В зону ответственности МЭС Центра: Валдайское, Верхне-Донское, Волго-Донское, Волго-Окское, Вологодское, Московское, Приокское и Черноземное. '  
    },
    {
      title: 'ГЛОСАВ осуществляет поставку мониторингового оборудования для филиала ОАО «Федеральная сетевая компания» МЭС Центра.',
      img: 'promo-car',
      img_mod: 'service__img_square service__img_contain',
      text: 'Компания ГЛОСАВ признана победителем тендера на поставку и установку систем мониторинга транспорта с использованием оборудования ГЛОНАСС/GPS для филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС) «Магистральные электрические сети Центра»(МЭС Центра). Мониторинговое оборудование будет установлено на 890 транспортных средств в филиалах(ПМЭС) входящих В зону ответственности МЭС Центра: Валдайское, Верхне-Донское, Волго-Донское, Волго-Окское, Вологодское, Московское, Приокское и Черноземное. '  
    }
    ] %}