{% set specialization_item = [
	{
		modal_name: 'integration',
		img: 'img-3',
		title: 'Системная Интеграция',
		text: 'Система для компаний, занимающихся дистрибуцией. Может быть использована как для оснащения транспортных средств, так и для оснащения персонала. В зависимости от специфики компании выбирается наиболее рациональный комплект оборудования, который может включать: бортовой блок, смартфон, персональный трекер.',
		features: [
			{
				features_img: 'delivery',
				features_title: 'Поставкa'
			},
			{
				features_img: 'delivery',
				features_title: 'Поставкa'
			},
			{
				features_img: 'delivery',
				features_title: 'Поставкa'
			},
			{
				features_img: 'delivery',
				features_title: 'Поставкa'
			},
			{
				features_img: 'delivery',
				features_title: 'Поставкa'
			},
			{
				features_img: 'delivery',
				features_title: 'Поставкa'
			}
			]
	},
	{
		modal_name: 'technologies',
		img: 'img-4',
		title: 'Технологии',
		text: 'Система для компаний, занимающихся дистрибуцией. Может быть использована как для оснащения транспортных средств,  так и для оснащения персонала. В  зависимости от специфики компании  выбирается наиболее рациональный  комплект оборудования, который может включать: бортовой блок, смартфон, персональный трекер.'
	},
	{
		modal_name: 'monitoring',
		img: 'img-1',
		title: 'Мониторинг и тахография',
		text: 'Система для компаний, занимающихся дистрибуцией. Может быть использована как для оснащения транспортных средств,  так и для оснащения персонала. В  зависимости от специфики компании  выбирается наиболее рациональный  комплект оборудования, который может включать: бортовой блок, смартфон, персональный трекер.'
	},
	{
		modal_name: 'developing',
		img: 'img-2',
		title: 'Разработка ПО',
		text: 'Система для компаний, занимающихся дистрибуцией. Может быть использована как для оснащения транспортных средств,  так и для оснащения персонала. В  зависимости от специфики компании  выбирается наиболее рациональный  комплект оборудования, который может включать: бортовой блок, смартфон, персональный трекер.'
	}
	] %}