{% set specialization_item = [
	{
		modal_name: 'integration',
		img: 'lan',
		title: 'Системная Интеграция',
		text: 'Система для компаний, занимающихся дистрибуцией. Может быть использована как для оснащения транспортных средств, так и для оснащения персонала. В зависимости от специфики компании выбирается наиболее рациональный комплект оборудования, который может включать: бортовой блок, смартфон, персональный трекер.',
		features: [
			{
				features_img: 'delivery',
				features_title: 'Поставкa'
			},
			{
				features_img: 'assembly',
				features_title: 'Монтаж высокопрофессиональный'
			},
			{
				features_img: 'launch',
				features_title: 'Пусконаладка'
			},
			{
				features_img: 'delivery',
				features_title: 'Поставкa'
			},
			{
				features_img: 'assembly',
				features_title: 'Монтаж'
			},
			{
				features_img: 'launch',
				features_title: 'Пусконаладка'
			}
			]
	},
	{
		modal_name: 'technologies',
		img: 'road',
		title: 'Технологии',
		text: 'Система для компаний, занимающихся дистрибуцией. Может быть использована как для оснащения транспортных средств,  так и для оснащения персонала. В  зависимости от специфики компании  выбирается наиболее рациональный  комплект оборудования, который может включать: бортовой блок, смартфон, персональный трекер.',
		features: [
			{
				features_img: 'delivery',
				features_title: 'Поставкa'
			},
			{
				features_img: 'launch',
				features_title: 'Пусконаладка'
			},
			{
				features_img: 'delivery',
				features_title: 'Поставкa'
			},
			{
				features_img: 'assembly',
				features_title: 'Монтаж'
			}
			]
	},
	{
		modal_name: 'monitoring',
		img: 'car',
		title: 'Мониторинг и тахография',
		text: 'Система для компаний, занимающихся дистрибуцией. Может быть использована как для оснащения транспортных средств,  так и для оснащения персонала. В  зависимости от специфики компании  выбирается наиболее рациональный  комплект оборудования, который может включать: бортовой блок, смартфон, персональный трекер.',
		features: [
			{
				features_img: 'delivery',
				features_title: 'Поставкa'
			},
			{
				features_img: 'launch',
				features_title: 'Пусконаладка'
			},
			{
				features_img: 'delivery',
				features_title: 'Поставкa'
			}
			]
	},
	{
		modal_name: 'developing',
		img: 'html',
		title: 'Разработка ПО',
		text: 'Система для компаний, занимающихся дистрибуцией. Может быть использована как для оснащения транспортных средств,  так и для оснащения персонала. В  зависимости от специфики компании  выбирается наиболее рациональный  комплект оборудования, который может включать: бортовой блок, смартфон, персональный трекер.',
		features: [
			{
				features_img: 'delivery',
				features_title: 'Поставкa'
			},
			{
				features_img: 'assembly',
				features_title: 'Монтаж высокопрофессиональный'
			},
			{
				features_img: 'launch',
				features_title: 'Пусконаладка'
			},
			{
				features_img: 'delivery',
				features_title: 'Поставкa'
			},
			{
				features_img: 'assembly',
				features_title: 'Монтаж'
			}
		]
	},
	{
		modal_name: 'tourism',
		img: 'html',
		title: 'Спутник',
		text: 'Система для компаний, занимающихся дистрибуцией. Может быть использована как для оснащения транспортных средств,  так и для оснащения персонала. В  зависимости от специфики компании  выбирается наиболее рациональный  комплект оборудования, который может включать: бортовой блок, смартфон, персональный трекер.',
		features: [
			{
				features_img: 'delivery',
				features_title: 'Поставкa'
			},
			{
				features_img: 'assembly',
				features_title: 'Монтаж высокопрофессиональный'
			}
		]
	},
	{
		modal_name: 'satelite',
		img: 'html',
		title: 'Туризм',
		text: 'Система для компаний, занимающихся дистрибуцией. Может быть использована как для оснащения транспортных средств,  так и для оснащения персонала. В  зависимости от специфики компании  выбирается наиболее рациональный  комплект оборудования, который может включать: бортовой блок, смартфон, персональный трекер.',
		features: [
			{
				features_img: 'delivery',
				features_title: 'Поставкa'
			}
		]
	}
	] %}