.article-wrap
	position: relative
	top: -118px
	&__container
		max-width: 1192px
		position: relative
	&__button
		bottom: -40px
		left: 50%
		transform: translateX(-50%)


.article
	background-color: $input-bg
	border-top: 4px solid $accent
	padding: 34px 117px 60px
	overflow: hidden
	max-height: 200px
	transition: height .5s
	&__title
		text-align: center
	& p
		line-height: 22px
		margin-top: 23px