.button
	background-color: transparent
	display: inline-block
	color: $indigo
	font-family: $gotham
	cursor: pointer
	&_border
		color: $white
		padding: 7px 20px
		border: 1px solid $white
		border-radius: 14px
		transition: color .3s, background-color .3s
		+hover
			color: $indigo
			background-color: $white
		+sm
			color: $indigo
			border-color: $indigo
	&_close
		position: absolute
		+circle(63)
		background-color: $accent
		background-image: url('/img/close.svg')
		background-repeat: no-repeat
		background-position: center
		cursor: pointer
		+sm
			+circle(52)
		&_small
			+circle(43)
			background-image: url('/img/close-small.svg')
			background-repeat: no-repeat
			background-position: center
	&_sm
		padding: 20px 30px
		font-size: 16px
		color: $white
		border-radius: 40px
		background-color: $accent
		min-width: 160px