.counter-wrap
    margin-top: 50px
    &__container
        max-width: 1190px
    &__title
        margin-bottom: 40px


.counter
    display: flex
    justify-content: space-between
    &__item
        width: 25%
        display: flex
    &__number
        +f(80px, 700, 0.8)
        margin-right: 30px