.main
	height: 80vh
	display: flex
	flex-direction: column
	justify-content: center


.slider
	max-width: 1100px
	margin: 0 auto
.slide
	text-align: center
	transition: border-color .3s, transform .3s
	+hover
		transform: scale(1.1)
		.slide__img-border
			border-color: transparent
			&:before, &:after
				opacity: 1
		.slide__title
			color: $accent
	&__link
		display: block
	&__img-border
		+circle(390)
		border: 2px solid $indigo
		position: relative
		margin: 0 auto
		+tr(border 300ms)
		+pseudo
		&:before
			opacity: 0
			+tr(opacity 0.3s)
			background-image: url('../img/item-hover-sm.svg')
			background-size: 100%
			background-repeat: no-repeat
			width: 350px
			height: 150px
			top: 257px
			+rotate(3)
			pointer-events: none
		&:after
			opacity: 0
			+tr(opacity 0.3s)
			background-image: url('../img/item-hover-big.svg')
			background-size: contain
			background-repeat: no-repeat
			width: 350px
			height: 450px
			left: 60px
			top: -27px
			pointer-events: none
	&__img-wrap
		+vcenter
		+circle(364)
		overflow: hidden
	&__img
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		height: 400px
	&__title
		margin-top: 30px
		+tr(color 300ms)
		text-transform: uppercase
	&__img-1
		background-image: url('../img/car.png')
		background-size: 200%
		background-position: 70% 60%
	&__img-2
		background-image: url('../img/html.png')
		background-position: 60% -10px
		background-size: 140%
	&__img-3
		background-image: url('../img/lan.png')
		background-size: 150%
		background-position: 34% -5%
	&__img-4
		background-image: url('../img/road.png')
		background-position: 60% -40px
		background-size: 180%

.slick-list
	overflow: visible
