.menu
	display: flex
	flex-direction: column
	align-items: flex-end
	+md
		flex-direction: row
		justify-content: space-between
		align-items: flex-start
		margin-top: 40px
	&__top
		display: flex
		align-items: center
		line-height: 1
		margin-bottom: 6px
		+md
			order: 2
			flex-direction: column
			align-items: flex-end
		+ms
			width: 100%
	&__bot
		+ms
			width: 100%
			text-align: right
			margin-bottom: 20px


.search
	margin-right: 35px
	position: relative
	&__input
		width: 0
		opacity: 0
		visibility: hidden
		padding: 10px 15px
		color: $indigo
		background-color: $input-bg
		transition: width .3s
		position: relative
		left: 30px
		+placeholder
			color: $indigo
	&__icon
		position: relative
		top: 4px
	+md
		margin-right: 0
.search__input_open
	width: 280px
	opacity: 1
	visibility: visible
	+ms
		width: 250px



.modal
	margin-right: 35px
	&__btn
		padding: 10px
		+hover
			color: darken($indigo, 20%)
	+md
		margin-right: -10px
		margin-bottom: 8px

.lang
	position: relative
	&__link
		+hover
			color: $accent
			// .lang__arrow
			// 	+arr(8, 5, $accent, b)
	&__current
		border-bottom: 1px dotted $indigo
		position: relative
		display: inline-block
		width: 30px
		margin-bottom: 5px
		+hover
			color: $indigo
	&__arrow
		+arr(8, 5, $indigo, b)
		position: absolute
		right: 0
		top: 50%
		transform: translateY(-50%)
	&__list
		display: none
		position: absolute
		z-index: 2
		background-color: #ebeef1
		width: 44px
		height: 54px
		left: -10px
	&__item
		margin-top: 8px
		margin-left: 10px

