.specialization
	text-align: center
	&__link
		display: inline-block
	&__img-border
		+circle(390)
		margin: 0 auto
		+pseudo
		&:before
			background-image: url('/img/item-hover-sm.svg')
			background-size: 100%
			background-repeat: no-repeat
			width: 350px
			height: 150px
			top: 257px
			+rotate(3)
			pointer-events: none
		&:after
			background-image: url('/img/item-hover-big.svg')
			background-size: contain
			background-repeat: no-repeat
			width: 350px
			height: 450px
			left: 60px
			top: -27px
			pointer-events: none
	&__img-wrap
		+vcenter
		+circle(364)
		overflow: hidden
	&__img
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		height: 400px
	&__title
		margin-top: 30px
		+tr(color 300ms)
		text-transform: uppercase
	// &__img-1
	// 	background-image: url('/img/car.png')
	// 	background-size: 200%
	// 	background-position: 70% 60%
	// &__img-2
	// 	background-image: url('/img/html.png')
	// 	background-position: 60% -10px
	// 	background-size: 140%
	// &__img-3
	// 	background-image: url('/img/lan.png')
	// 	background-size: 150%
	// 	background-position: 34% -5%
	// &__img-4
	// 	background-image: url('/img/road.png')
	// 	background-position: 60% -40px
	// 	background-size: 180%


// Slider modifier
.specialization_slide
	transition: border-color .3s, transform .3s
	+hover
		transform: scale(1.1)
		.specialization__img-border
			border-color: transparent
			&:before, &:after
				opacity: 1
		.specialization__title
			color: $accent
	& .specialization__img-border
		border: 2px solid $border
		+tr(border 300ms)
		&:before, &:after
			opacity: 0
			+tr(opacity 0.3s)
// Slider modifier


// Popup modifier
.specialization_popup
	position: relative
	&__overlay
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba(64, 91, 113, 0.7)
		color: $white
		font-size: 16px
	&__overlay-inner
		+vcenter
		width: 300px
	&__overlay-button
		margin-top: 30px
	& .specialization__link
		padding: 0 75px
	& .specialization__img-wrap
		+circle(437)
	& .specialization__img-border
		&:before
			width: 400px
			height: 165px
			top: 280px
			left: -28px
		&:after
			width: 420px
			height: 510px
			top: -60px
			left: 40px
	& .specialization__title
		color: $accent
		margin-top: 90px
	& .specialization__link
		position: relative
		&:after
			content: ''
			position: absolute
			top: -35px
			right: 130px
			+circle(63)
			background-color: $accent
			background-image: url('../img/close.svg')
			background-repeat: no-repeat
			background-position: center
			cursor: pointer

// Popup modifier