.title
	+f(20px, 500)
	color: $indigo
	+sm
		font-size: 16px
	+xs
		font-size: 11px
.title-main
	+f(50px, 500, 1)
	+sm
		font-size: 30px
.title-l
	+f(24px, 500, 1.4)
	+sm
		font-size: 20px
.title-mid
	+f(18px, 500)
.title-s
	+f(16px, 500, 1)
.title-sm
	+f(14px, 500)
	transition: color .3s
	color: $indigo
	text-transform: uppercase
	+hover
		color: $accent
